*{
    background-color: lemonchiffon;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;

}

nav{
    text-align: center;
}
nav li{
    list-style: none;
    line-height: 60px;
    background-color: #84ffff;
}

nav li a{
    background-color: #84ffff;
    font-size: 28px;
    margin-left: 60px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    text-align: center;
}

.info a{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    text-decoration: none;
    color: #9bc0ff;
    font-size: 25px;
}

.paragraphContainer{
    text-align: center;
    overflow-wrap: break-word;
}

.paragraphContainer p{
    font-size: 20px;
    overflow-wrap: break-word;
}

h1 i{
    color: gold;
    display: flex;
}

@media (max-width: 750px){
    nav li a{
        display: grid;
        text-align: center;
    }
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
}
.container{
    text-align: center;
}
.container a{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    text-decoration: none;
    color: #9bc0ff
}
.progress { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    text-align: center;
    margin-top: -40px;
}

@media(max-width: 750px){
    .footer ul li{
        text-align: center;
        display: grid;
    }
}

.footer ul li a{
    text-decoration: none;
    margin-left: 5px;
    color: #9bc0ff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#dynamicCheck{
    text-align: center;
    margin-bottom: 20px;
}

#dynamicCheck button{
    cursor: pointer;
    background-color: red;
    font-size: 20px;
    margin-bottom: 20px;
}

.textField{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 240px;
    margin-bottom: 20px;
    margin-top: -20px;
}

#postButton{
    text-align: center;
    margin-bottom: 20px;
}

#post{
    display: none;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 150px;
    background-color: red;
    margin-bottom: 20px;
    font-size: 17px;
}

#commentSection{
    text-align: center;
    margin-bottom: 20px;
}

#replyBtn{
    display: inline;
    cursor: pointer;
    height: 30px;
    width: 60px;
    font-size: 17px;
    background-color: green;
}

.replyTextField{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 140px;
    margin-bottom: 20px;
    margin-top: -20px;
}