<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <meta name="description" content="My Website Portfolio">
        <meta name="keywords" content="HTML, DOM, HTML tags, attributes">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>My Web Portfolio</title>
        <link rel="stylesheet" href="../public/blog.css">
        <script src="https://kit.fontawesome.com/4f0fde1e3b.js" crossorigin="anonymous"></script>
        <script src="otherBlog.js" defer></script>
    </head>
    <body>
        <nav>
            <li>
                <a href="/">Home</a>
                <a href="/my_resume">Resume</a>
                <a href="/my_fun_facts">Fun Facts</a>
                <a href="/blog">Blog</a>
                <a href="/trivia">Trivia</a>
            </li>
        </nav>
            <h1>Welcome To Joshua Pagonas's Blog
                    <i class="fas fa-crown fa-1x">
                    </i>
            </h1>
        <main>
            <h2>
                Brand New Details of The new up and coming New Sonic The Hedgehog Game 'Sonic Frontiers' 
                and the new up and coming Mario Game 'Super Mario Odyssey 2' revealed here!
            </h2>
            <div class="info">
                <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Click here for more information</a>
            </div>
            <section>
                <div class="paragraphContainer">
                    <p>
                        Brand new details regarding Sonic Frontiers and Super Mario Odyssey 2 have been revealed. Just recently,
                        a Nintendo Direct has been announced for November 18th 2022 where they said they will be unveiling a
                        BIG brand new 3D first party platformer. Leaks have speculated that it will be Super Mario Odyssey 2
                        after Nintendo has been teasing a successor to Super Mario Odyssey since the release of Bowser's Fury.
                    </p>
                    <p>
                        Furthermore, a new Sonic Central has been announced for March of 2022 saying that they will be expanding
                        conversation on the information they previously revealed back in June of 2021. Back in the previous Sonic
                        Central held in June 2021, they announced many details of new games and other media regarding the Sonic
                        The Hedgehog franchise. One of these new games was the announcement of a brand new 3D Sonic game with a 
                        working title. After the Sonic Central, people noticed that there were some leaks regarding the brand new
                        3D Sonic Game that came out before the Sonic Central in June 2021. These leaks and other information present
                        within the said leaks match up to the source code found in the Sonic Central YouTube video. This revealed
                        a lot of information of the future title that made many Sonic fans cautiously optimistc given Sonic Team's
                        past record of inconsistency.
                    </p>
                    <p>Click the link above to read more on this exciting news regarding the two new 3D
                        Platforming Games.
                    </p>
                    <p>Comment down below on what you think of the information provided
                        in the link above. </p>
                </div>
                <div id="dynamicCheck">
                    <button id="btn" onclick="createComment()">Add a Comment</button>
                </div>
                <textarea class="textField"></textarea>
                <div id="postButton">
                    <button id="post" onclick="displayComment()">Post Comment</button>
                </div>
                <div id="commentSection">
                </div>
                <textarea class="replyTextField"></textarea>
                <div id="replySection">

                </div>
            </section>
        </main><br>
        <footer class="footer">
            <ul style="list-style: none;">
                <li style="list-style: none;">
                    &copy; Joshua Pagonas 2021.
                    <a href="https://www.linkedin.com/in/joshua-pagonas-0896511a4/"><i class="fab fa-linkedin fa-1x"></i></a>
                    <a href="https://www.linkedin.com/in/joshua-pagonas-0896511a4/">LinkedIn Profile</a>
                    <a href="https://github.com/joshuapagonas"><i class="fab fa-github fa-1x"></i></a>
                    <a href="https://github.com/joshuapagonas">Github Profile</a><br>
                </li>
            </ul>
        </footer>
    </body>
</html>